/* ------------- GENERAL ------------- */

*, html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 14px;
  line-height: 1.3
}

body {
  color: #777;
  font-family: Helvetica, 'trebuchet ms';
  /*font-family: 'Lucida Grande', Verdana, Arial;*/
  font-size: 11px;
  height: 100%;
  background-color: #eee;
}

p {
  margin-bottom: 10px;
}

li {
  display: block;  /* no bullets on my line-items */
}

ul {
  margin: 0px 0px 8px 4px;
}

a,
a:link,
a:visited {
    color: #09f;
}

a[href $=".py"], a[href $=".PY"],
a[href *=".py#"], a[href *=".PY#"],
a[href *=".py?"], a[href *=".PY?"] {
    background:transparent url(../img/python.png) no-repeat scroll right center;
    padding-right:18px;
}

a[href $=".pde"], a[href $=".PDE"],
a[href *=".pde#"], a[href *=".PDE#"],
a[href *=".pde?"], a[href *=".PDE?"] {
    background:transparent url(../img/arduino.png) no-repeat scroll right center;
    padding-right:18px;
}

a[href $=".pdf"], a[href $=".PDF"],
a[href *=".pdf#"], a[href *=".PDF#"],
a[href *=".pdf?"], a[href *=".PDF?"] {
    background:transparent url(../img/pdf.gif) no-repeat scroll right center;
    padding-right:17px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ------- */


#column-1 {
  width: 325px;
  float: right;
}

#column-2 {
  width: 465px;
  float: left;
  margin-left: 5px;
}

h1, h2, h3, h4 {
  font-weight: normal;
  text-decoration: none;
}

h1 {
  font-size: 18px;
}

h2 {
  margin: 5px 0 10px 0;
}

#container {
  margin: 0 auto 0 auto;
  width: 800px;
}

.box {
  border: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 5px;
}

#name-container {}

  #name {
    font-family: helvetica, 'trebuchet ms';
    font-size: 30px;
    font-weight: 300;
  }

  #tagline {
    font-size: 12px;
    font-weight: 200;
    padding: 0;
    margin: 0 0 0 0px;
  }

#interests {}
#publications {}
#code {}
#fun {}
#notes {}
#mugshot {}
  #mugshot img { width: 100%; }

#about {}

  #bunchoflinks {
    padding: 0px 0 5px 0;
  }

    #facebook {
      background:transparent url(../img/facebook-16x16.png) no-repeat scroll left center;
      padding-left: 18px
    }

    #delicious {
      background:transparent url(../img/delicious-16x16.png) no-repeat scroll left center;
      padding-left: 18px
    }

    #gmail {
      background:transparent url(../img/gmail-icon16.gif) no-repeat scroll left center;
      padding-left: 18px
    }

    #bitbucket {
      background:transparent url(../img/bitbucket.png) no-repeat scroll left center;
      padding-left: 18px
    }

    #github {
      background:transparent url(../img/github.png) no-repeat scroll left center;
      padding: 2px 0px 0px 18px;
    }

  #cv {
    font-size: 13px;
    padding: 2px 0 4px 0;
  }


.project {
  margin: 6px 0px 2px 0px;
  display: block;
}

  .project h3 {
     margin-bottom: 5px;
   }

  .project .thumbnail {
    display: inline;
    margin: 0 5px 5px 0;
    width: 100px;
    border: 1px solid silver;
    float: left;
  }

  .project .blurb {
    float: right;
  }

    .project .blurb h3 {
      margin: 0px 0px 4px 0px;
      font-size: 14px;
    }

#column-1 .project .blurb {
  width: 195px;
}

#column-2 .project .blurb {
  width: 335px;
}

#footer {
  clear: both;
}
